.month{
    background-color: #B0B0B0;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #28205E;
    margin: auto;
}
.month th[scope="row"]{
	padding-top: 10px;
	/*border: 1px solid #28205E;*/
  margin:0;
  display: inline-block;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow :ellipsis;
  background-color: #B0B0B0;
  color: black;
  /*color: #28205E;*/
}

.today {
  background-color: #3E3F44;
  color : #fff;
}
.month thead th{
    border: 1px solid #28205E;
    border-right: 0px;
    border-left: 0px;
    width: 100px;
    vertical-align: center;
    padding: 5px;
}
.month td{
    border: 1px solid #28205E;
    padding:0;
}
.month tbody td a{
    width: 100%;
    height: 100%;
}
.empty tr{
    background: red;
    /*background: #C9C3C6;*/
    border: 2px solid #C9C3C6;
    font-size: 1.5em;
    min-height: 5px;
}
.about{
    width: 112px;
    height:32px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.liste{
    margin-top: 5%;
} 

.month td{
  border: 1px solid;
  padding:0;
  background-size: 100% 100%;
  /*width: 200px;
  height: 40px;*/
  /*height:38px;*/
}

.month td>div {
  background: #ccc;
  position: relative;
  height: 0;
  width: 0;
  border-top: 16px solid #ccc;
  border-bottom: 16px solid #ccc;
  border-left:16px solid #ccc;
  border-right:16px solid #ccc;
  outline: none;
}
.month td>div span {
  visibility: hidden;
  position: absolute;
  top: 20px;
  left: 50%;
  z-index: 999;
  width: 180px;
  margin-left: -98px;
  padding: 5px;
  border: 2px solid #ccc;
  opacity: .8;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
}
/*.month td>div:hover{
  border: 0; 
}*/
.month td>div:hover span{
   visibility: visible;
}
.month td>div span:before,
.month td>div span:after
{
  content: "";
  position: absolute;
  z-index: 1000;
  top: -7px;
  left: 50%;
  margin-left: 0px;
  border-bottom: 8px solid #ddd;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 0;
}

.month td>div span:after{
  border-top-color: #ccc;
  top:-8px;
}

.month td>div span:before
{
  /*border-top-color: #ccc;*/
  border-bottom-color: #161a1f;  
  top: -8px;
  /*bottom: -8px;*/
}

.month td>div span
{
  color: #fff;
  text-shadow: 0 1px 0 #000;  
  border-color: #161a1f;
  background-color: #1e2227;
}

.month td>div span:after
{ 
  border-bottom-color: #1e2227;
}


.month .am_taf{
  border-top-color: #ccc;
  border-left-color: #ccc;
}
.month .pm_taf{
  border-bottom-color: #ccc;
  border-right-color: #ccc;
}
.month .am_off{
  border-top-color: #fff;
  border-left-color: #fff;
}
.month .pm_off{
  border-bottom-color: #fff;
  border-right-color: #fff;
}
.month .ca{
  border-color: #080;
}

.month .am_ca{
  border-top-color: #080;
  border-left-color: #080;
}
.month  .pm_ca{
  border-bottom-color: #080;
  border-right-color: #080;
}
.month .rl{
  border-color: #080;
}

.month .am_rl{
  border-top-color: #080;
  border-left-color: #080;
}
.month  .pm_rl{
  border-bottom-color: #080;
  border-right-color: #080;
}
.month .rtt{
  border-color: #0f0;
}
.month .am_rtt{
  border-top-color: #0f0;
  border-left-color: #0f0;
}
.month .pm_rtt{
  border-bottom-color: #0f0;
  border-right-color: #0f0;
}
.month .am_rcp{
  border-top-color: #9DF5A0;
  border-left-color: #9DF5A0;
}
.month .pm_rcp{
  border-bottom-color: #9DF5A0;
  border-right-color: #9DF5A0;
}

.month .am_mal{
  border-top-color: #ff0;
  border-left-color: #ff0;
}
.month .pm_mal{
  border-bottom-color: #ff0;
  border-right-color: #ff0;
}
.month .am_fo{
  border-top-color:#5945DD;
  border-left-color:#5945DD;
}
.month .pm_fo{
  border-bottom-color:#5945DD;
  border-right-color:#5945DD;
}
.month .am_mi{
  border-top-color:#BD2DED;
  border-left-color:#BD2DED;
}
.month .pm_mi{
  border-bottom-color:#BD2DED;
  border-right-color:#BD2DED;
}
.month .am_oth , .month .am_sya , .month .am_syo , .month .am_em{
  border-top-color:#FFA500;
  border-left-color:#FFA500;
}
.month .pm_oth , .month .pm_sya , .month .pm_syo , .month .pm_em{
  border-bottom-color:#FFA500;
  border-right-color:#FFA500;
}
.month .ferie{
  border-color: red;
  cursor: default;
}
.month .am_mo{
  border-top-color: pink;
  border-left-color: pink;
}
.month .pm_mo{
  border-bottom-color: pink;
  border-right-color: pink;
}

.month .am_ipt{
  border-top-color: #30805F;
  border-left-color: #30805F;
}
.month .pm_ipt{
  border-bottom-color: #30805F;
  border-right-color: #30805F;
}
.month .am_none{
  border-top-color: #c9c3b7;
  border-left-color: #c9c3b7;
}
.month .pm_none{
  border-bottom-color: #c9c3b7;
  border-right-color: #c9c3b7;
}