.tab{
    background-color: #B0B0B0;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #28205E;
}
.tab th[scope="row"]{
	padding-top: 10px;
	/*border: 1px solid #28205E;*/
  margin:0;
  display: inline-block;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow :ellipsis;
  background-color: #B0B0B0;
  color: black;
  /*color: #28205E;*/
}

.today {
  background-color: #3E3F44;
  color : #fff;
}
.tab thead th{
    border: 1px solid #28205E;
    border-right: 0px;
    border-left: 0px;
    width: 100px;
    vertical-align: center;
    padding: 5px;
}
.tab td{
    border: 1px solid #28205E;
    padding:0;
}
.tab tbody td a{
    width: 100%;
    height: 100%;
}
.empty tr{
    background: red;
    /*background: #C9C3C6;*/
    border: 2px solid #C9C3C6;
    font-size: 1.5em;
    min-height: 5px;
}
.usr{
	cursor: pointer;
}

#next,#prev{
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

/*#mois:hover{
  background-color: #3E3F44;
  color :#fff;
  cursor: pointer;
}*/
.about{
    width: 112px;
    height:32px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.liste{
    margin-top: 5%;
} 

.tab td{
  border: 1px solid;
  padding:0;
  background-size: 100% 100%;
  /*width: 200px;
  height: 40px;*/
  /*height:38px;*/
}
.month td>div {
  background: #ccc;
  position: relative;
  height: 0;
  width: 0;
  border-top: 2.857px solid #ccc;
  border-left:12.857px solid #ccc;
  border-bottom: 2.857px solid #ccc;
  border-right:12.857px solid #ccc;
  outline: none;
}
.tab td>div {
  background: #ccc;
  position: relative;
  height: 0;
  width: 0;
  border-top: 20px solid #ccc;
  border-left:90px solid #ccc;
  border-bottom: 20px solid #ccc;
  border-right:90px solid #ccc;
  outline: none;
}
.tab td>div span {
  visibility: hidden;
  position: absolute;
  top: 20px;
  left: 50%;
  z-index: 999;
  width: 180px;
  margin-left: -98px;
  padding: 5px;
  border: 2px solid #ccc;
  opacity: .8;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
}
/*.tab td>div:hover{
  border: 0; 
}*/
.tab td>div:hover span{
   visibility: visible;
}
.tab td>div span:before,
.tab td>div span:after
{
  content: "";
  position: absolute;
  z-index: 1000;
  top: -7px;
  left: 50%;
  margin-left: 0px;
  border-bottom: 8px solid #ddd;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 0;
}

.tab td>div span:after{
  border-top-color: #ccc;
  top:-8px;
}

.tab td>div span:before
{
  /*border-top-color: #ccc;*/
  border-bottom-color: #161a1f;  
  top: -8px;
  /*bottom: -8px;*/
}

.tab td>div span
{
  color: #fff;
  text-shadow: 0 1px 0 #000;  
  border-color: #161a1f;
  background-color: #1e2227;
}

.tab td>div span:after
{ 
  border-bottom-color: #1e2227;
}
/***************************************/
/*****    Gestion des triangles    *****/
/***************************************/
.tab .am_taf{
  border-top-color: #ccc;
  border-left-color: #ccc;
}
.tab .pm_taf{
  border-bottom-color: #ccc;
  border-right-color: #ccc;
}
.tab .am_off{
  border-top-color: #fff;
  border-left-color: #fff;
}
.tab .pm_off{
  border-bottom-color: #fff;
  border-right-color: #fff;
}
.tab .ca{
  border-color: #080;
}

.tab .am_ca{
  border-top-color: #080;
  border-left-color: #080;
}
.tab  .pm_ca{
  border-bottom-color: #080;
  border-right-color: #080;
}
.tab .rl{
  border-color: #080;
}

.tab .am_rl{
  border-top-color: #080;
  border-left-color: #080;
}
.tab  .pm_rl{
  border-bottom-color: #080;
  border-right-color: #080;
}
.tab .rtt{
  border-color: #0f0;
}
.tab .am_rtt{
  border-top-color: #0f0;
  border-left-color: #0f0;
}
.tab .pm_rtt{
  border-bottom-color: #0f0;
  border-right-color: #0f0;
}
.tab .am_rcp{
  border-top-color: #9DF5A0;
  border-left-color: #9DF5A0;
}
.tab .pm_rcp{
  border-bottom-color: #9DF5A0;
  border-right-color: #9DF5A0;
}

.tab .am_mal{
  border-top-color: #ff0;
  border-left-color: #ff0;
}
.tab .pm_mal{
  border-bottom-color: #ff0;
  border-right-color: #ff0;
}
.tab .am_fo{
  border-top-color:#5945DD;
  border-left-color:#5945DD;
}
.tab .pm_fo{
  border-bottom-color:#5945DD;
  border-right-color:#5945DD;
}
.tab .am_mi{
  border-top-color:#BD2DED;
  border-left-color:#BD2DED;
}
.tab .pm_mi{
  border-bottom-color:#BD2DED;
  border-right-color:#BD2DED;
}
.tab .am_oth , .tab .am_sya , .tab .am_syo , .tab .am_em{
  border-top-color:#FFA500;
  border-left-color:#FFA500;
}
.tab .pm_oth , .tab .pm_sya , .tab .pm_syo , .tab .pm_em{
  border-bottom-color:#FFA500;
  border-right-color:#FFA500;
}
.tab .ferie{
  border-color: red;
  cursor: default;
}
.tab .am_mo{
  border-top-color: pink;
  border-left-color: pink;
}
.tab .pm_mo{
  border-bottom-color: pink;
  border-right-color: pink;
}

.tab .am_ipt{
  border-top-color: #30805F;
  border-left-color: #30805F;
}
.tab .pm_ipt{
  border-bottom-color: #30805F;
  border-right-color: #30805F;
}
.tab .am_none{
  border-top-color: #c9c3b7;
  border-left-color: #c9c3b7;
}
.tab .pm_none{
  border-bottom-color: #c9c3b7;
  border-right-color: #c9c3b7;
}
td.about>div {
  background: #ccc;
  height: 0;
  width: 0;
  border-top: 10px solid #ccc;
  border-left:45px solid #ccc;
  border-bottom: 10px solid #ccc;
  border-right:45px solid #ccc;
}
th.about{
  font-size: 10px;
}

#commentaire{
  height: 1.5em;
  width: 98%;
}
td.presence>div{
  border-top: 20px solid #c9c3c6;
  border-left:90px solid #c9c3c6;
  border-bottom: 20px solid #c9c3c6;
  border-right:90px solid #c9c3c6;
}

.tab .off{
	background-color: #fff;
}

.empty{
  background-color: #28205E;
  font-size: 3px;
}


.tdslegend{
  margin-left: 10px;
  font-size: 10px;
  border:1px solid grey;
  background-color: #BDBDBD;
  -webkit-border-radius : 5px;
  -moz-border-radius : 5px;
  border-radius: 5px;
}
.tdslegend td:first-child{
  /*border:1px solid black;*/
  padding: 0;
  margin:0;

}
.tdslegend div{
  margin:0;
  margin-left: 8px;
  padding: 4px;
}

.tdslegend *{
  padding: 4px;
  -webkit-border-radius : 2px;
  oz-border-radius : 2px;
  border-radius: 2px;
}
.tdslegend .ca{
  /*border-top:10px solid #080;
  border-left:18px solid #080;
  border-right:18px solid #080;
  border-bottom:10px solid #080;
*/
background: #080;
}
.tdslegend .rtt{
  background: #0f0;
  /*border-top:10px solid #0f0;
  border-left:18px solid #0f0;
  border-right:18px solid #0f0;
  border-bottom:10px solid #0f0;
*/}
.tdslegend .mal{
  background: #ff0;
  /*border-top:10px solid #ff0;
  border-left:18px solid #ff0;
  border-right:18px solid #ff0;
  border-bottom:10px solid #ff0;*/
}
.tdslegend .rcp{
  background: #9DF5A0;
/*  border-top:10px solid #9DF5A0;
  border-left:18px solid #9DF5A0;
  border-right:18px solid #9DF5A0;
  border-bottom:10px solid #9DF5A0;*/
}

.tdslegend .off{
  background: #fff;
 /* padding: 4px;
  border-radius: 2px;*/
  /*
  border-top:10px solid #fff;
  border-left:18px solid #fff;
  border-right:18px solid #fff;
  border-bottom:10px solid #fff;*/
}
.tdslegend .fo{
  background: #5945DD;
  /*border-top:10px solid #5945DD;
  border-left:18px solid #5945DD;
  border-right:18px solid #5945DD;
  border-bottom:10px solid #5945DD;*/
}
.tdslegend .mi{
  background: #BD2DED;/*
  border-top:10px solid #BD2DED;
  border-left:18px solid #BD2DED;
  border-right:18px solid #BD2DED;
  border-bottom:10px solid #BD2DED;*/
}
.tdslegend .mo{
  background: #FFC0CB;/*
  border-top:10px solid #FFC0CB;
  border-left:18px solid #FFC0CB;
  border-right:18px solid #FFC0CB;
  border-bottom:10px solid #FFC0CB;*/
}
.tdslegend .oth{
  background: #FFA500;/*
  border-top:10px solid #FFA500;
  border-left:18px solid #FFA500;
  border-right:18px solid #FFA500;
  border-bottom:10px solid #FFA500;*/
}
.tdslegend .taf{
  background: #ccc;
  /*border-top:10px solid #ccc ;
  border-left:18px solid #ccc ;
  border-right:18px solid #ccc ;
  border-bottom:10px solid #ccc ;*/
}



.print{
  background-image: url("../img/TDS.gif");
}